<%- include('header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Electicity</h1>
    <p class="lead">Save electrcity, save nature.</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/logincustomer" role="button">Customer Login</a>
    <a class="btn btn-dark btn-lg" href="/loginadmin" role="button">Admin Login</a></br>
    <a class="btn btn-primary btn-lg gap" href="/register" role="button">New User Register</a>

  </div>
</div>

<%- include('footer') %>
